@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.toast {
    position: fixed;
    top: 20px;
    left: 80%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
   
    animation: fadeIn 0.5s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  
  img {
    width: 10%;
    height: auto;
  }
  
  body {
    background-color: gray;
  }
  .field-loader{
    display: flex;
    margin: 3rem;
  
  }
  .menu-loaded{
   background-color: antiquewhite;
   margin: 3rem;
  }
  .menu-whole{
    display: flex;
  } 